@import url("https://fonts.googleapis.com/css2?family=Galada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: 'Galada', cursive;
  font-size: 1.5rem;
}

.bottom-header {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: fixed;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  color: #3c8192;
  padding: 10px;
  border-right: 5px solid rgba(47, 47, 47, 0.9);
  border-left: 5px solid rgba(47, 47, 47, 0.9);
  border-top: 5px solid rgba(47, 47, 47, 0.9);
  opacity: 0.9;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
}

p,
p1,
p2,
p3 {
  font-family: 'Caveat', cursive;
  font-size: 1.5em;
}

body {
  margin: 0;
  background-color: rgba(47, 47, 47, 0.9);
  font-weight: 500;
}

.content {
  height: 100%;
  width: 100%;
}

/* navagation styling */
header {
  position: fixed;
  text-align: center;
  z-index: 999;
  width: 100%;
  background-color: #3c8192;
  border-bottom: 5px solid rgba(47, 47, 47, 0.9);
}

.top-header {
  font-family: 'Galada', cursive;
  margin-bottom: 0;
}

.nav-toggle {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #3c8192;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

nav ul {
  margin-top: 10px;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

nav nav a:hover {
  color: black;
}

.nav-toggle:checked ~ header {
  border-bottom: 20px;
}

.nav-toggle:checked ~ nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  border-bottom: 5px solid rgba(47, 47, 47, 0.9);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out 250ms;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 650px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto minmax(500px, 3fr) 0.3fr;
        grid-template-columns: 1fr auto minmax(500px, 3fr) 0.3fr;
  }
  .top-header {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    border-bottom: 0;
  }
  nav {
    position: relative;
    -webkit-transition: none;
    transition: none;
    text-align: left;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav li {
    margin-left: 2em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform ease-in-out 250ms;
    transition: -webkit-transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
  }
  nav a:hover::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
/*# sourceMappingURL=index.css.map */